h1, h2 {
  color:red;
  text-align: center;
}

tr {
  text-align: center;
}

.navtable {
  color: purple;
  background-color: red;
}

.navbox {
  padding: 20px 50px;
  background-color: red;
  width: 33%;
}

#train {
border-radius: 50%;
border-style: outset;
border-color: red;
}

@media (min-width: 070px) {
  .phoneonly {
    display:none
  }
}
